<div class="panel">
    <% if(!!buttons.create){ %>
        <a class="link" href="<%= buttons.create.link %>" id="createButton">
            <%= buttons.create.title %>
        </a>
        <%}%>
            <% if(!!buttons.edit){ %>
                <a class="link" onclick="if(getChecked()){editLink('<%= buttons.edit.link %>')}"
                    id="editButton">
                    <%= buttons.edit.title %>
                </a>
                <%}%>
                    <% if(!!buttons.delete){ %>
                        <a class="link" onclick="if(getChecked()){Delete('<%= buttons.delete.link %>')}"
                            id="deleteButton">
                            <%= buttons.delete.title %>
                        </a>
                        <%}%>


</div>